<form action="/createData">
    <input type="text" hidden name="id" id="" value="<%= (editData) ? editData.id : "" %>">
    name = <input type="text" name="name" value="<%= (editData) ? editData.name : "" %>" id="" > <br><br>
    surname = <input type="text" name="surname" value="<%= (editData) ? editData.surname : "" %>" id="" > <br><br>
    submit = <input type="submit" name="" id="">
</form>
<style>
    .headline{
        background-color: black;
        text-align: center;
    }
    h1{
        color: aqua;
    }
    .main{
        background-color: aqua;
    }
    .box{
        background-color: black;
        color: aqua;
        width: 15%;
        gap: 25%;
        padding: 10px;
    }

</style>
<div class="headline">
    <h1>CARD</h1>
</div>
<div class="main">
     <div class="box">
        
     </div>
</div>

